﻿@{
    ViewBag.Title = "Login Page";
}


<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" href="~/Content/loginForm.css">
    <script>
        var server = '@System.Configuration.ConfigurationManager.AppSettings["Server"]';
    </script>
    <script src="~/Scripts/JsCookie.js"></script>
    <script src="~/Scripts/Login.js"></script>

</head>
<body>
        <img src="~/Images/Loading_gif.gif" id="gifLoading" hidden>
        <form name="formLogin">
            <div class="imgcontainer">
                <img src="~/Images/avatar.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" id="username" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="password" required>
                <button id="btnLogin" type="button" onclick="Login(server)">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="containerBottom">
                <span class="register"> <a href="#">Don't have an account ?</a></span>
                <span class="psw"> <a href="#">Forgot password?</a></span>
            </div>
        </form>
</body>
</html>