﻿
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    text-align: center;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
}

/* Set a style for all buttons */
button {
    background-color: #1B3147;
    color: white;
    padding: 14px 20px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    display: block;
    width: 30%;
}

    /* Add a hover effect for buttons */
    button:hover {
        opacity: 0.8;
    }


/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

#gifLoading {
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 100;
    text-align: center;
    opacity: 0.7;
}
/* Avatar image */
img.avatar {
    width: 20%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    text-align: center;
}
.containerBottom {
    padding: 16px;
    margin-top:10px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
}
.register {
    float: left;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .register {
        width: 100%;
    }
}
